
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kanit&family=Press+Start+2P&display=swap');

body{
    background-color: darkslategray;
    color: whitesmoke;
    font-family: "Kanit", "sans-seriff";
    margin: 0;
    padding: 0;
}

.logo_link {
    padding-top: 10px;
    justify-self: left;
    align-self: center;
}

header{
    display: grid;
    grid-template-columns: 50px auto;
    background-color: indigo;
    font-family: "Bungee", "sans-seriff";
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
a { 
    color:  #74dbd8; 
    text-decoration: none;
    font-size: larger;
    padding: 10px;
}
a:hover { background-color:  #74dbd8; color: indigo; }

/*******************************************************************************
Home
*******************************************************************************/
.indexmain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px auto 100px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

p{
    grid-column: 2/3;
}

button{
    background-color: indigo;
    color: #74dbd8;
    font-size: larger;
    font-family: "Bungee", "sans-seriff";
    grid-column: 2/3;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    padding: 3%;
    border-radius: 50px;
    cursor: pointer;

}
button:hover{ background-color:  #74dbd8; color: indigo; }

/*******************************************************************************
Story
*******************************************************************************/
.storymain{
text-align: center;
  
}

.storytitle{

  display: flex;
justify-content: center;
  gap: 8px;

}

.storyimg{
   margin: 20px;
   border: 5px solid indigo;
   box-shadow: 5px 5px 10px black;

  }

/*******************************************************************************
Characters
*******************************************************************************/
.charactersmain{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: right;
  padding: 2% 10%;
  gap: 50px;
}

.sejop, .kashp, .vitop, .mizop, .catyp {
  border: 5px solid indigo;
  box-shadow: 5px 5px 10px black
}

.charactitle{
  display: flex;
  justify-content: center;
  gap: 10px;
}


.bolded { font-weight: bold; font-size: 1.3em; }
.bold { font-weight: bold; font-size: 1.1em; }


/*******************************************************************************
Footer
*******************************************************************************/
footer{
    background-color: indigo;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    font-family: "Bungee", "sans-seriff";

}
