<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="component.css">
    
    <title>Simple Component - Sergio</title>
</head>
<body>

<h1>A Simple Component - Modal Image</h1>
<p>Sergio da Silva <br> <br> The source link below:</p>
<a href="https://www.w3schools.com/howto/howto_css_modal_images.asp" target="_blank">Click here to go to the source link</a>

<br><br><br>

    <!-- Trigger the Modal -->
<img id="myImg" src="7.png" alt="A Fierce Fight on the Fantasy Fields" style="width:100%;max-width:300px">

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
    
<script src="component.js"></script>
</body>
</html>